In [1]:
def sum(x, y ):
    return x+y

sum(2,3)

5

In [2]:
def area(r):
    pi = 3.142
    return pi * r**r

area(2)

12.568

In [4]:
def add_all(*x):
    total = 0
    for i in x:
        total += i
    return total

add_all(2,3,5,9)

19

In [6]:
def temp_converter(c):
    f = (c * 9/5) + 32
    return f

print("Degree Fahrenheit: ", temp_converter(25))

Degree Fahrenheit:  77.0

In [8]:
def check_season(month):
    if month in ['December', 'January', 'February']:
        print('Winter')
    elif month in ['March', 'April', 'May']:
        print('Spring')
    elif month in ['June', 'July', 'August']:
        print('Summer')
    print('Autumn')

check_season('October')

Autumn

In [9]:
def slope(c, x, y):
    m = (y-c)/x
    return m

slope(5, 2, 15)

5.0

In [10]:
def slope((x1, y1), (x2, y2)):
    a =y2 - y1
    b = x2 - x1
    return a/b

slope((2,4), (6, 8))

SyntaxError: Function parameters cannot be parenthesized (2166964500.py, line 1)

In [17]:
def print_list(list):
    for i in list:
        print(i)


print_list([1,4,2,3])

1
4
2
3

In [22]:
def reverse_list(list):
    list.reverse()
    return list

names = ['Fortune', 'Favour', 'Victory']
reverse_list(names)

['Victory', 'Favour', 'Fortune']

In [65]:
def capitalize_list(items):
    for i in items:
        items = i.capitalize()
        print(items)
    
names = ['fortune', 'favour', 'victory']
capitalize_list(names)

Fortune
Favour
Victory

In [34]:
def capitalize_list(items):
    list = []
    for i in items:
        list.append(i.capitalize())
    return list
    
names = ['fortune', 'favour', 'victory']
capitalize_list(names)

['Fortune', 'Favour', 'Victory']

In [40]:
def add_item(lists, item):
    lists.append(item)
    return lists


names = ['fortune', 'favour', 'victory']
add_item(names, 'sarah')

['fortune', 'favour', 'victory', 'sarah']

In [66]:
def remove_item(lists, item):
    lists.remove(item)
    return lists

names = ['fortune', 'favour', 'victory', 'sarah']

remove_item(names, 'sarah')

['fortune', 'favour', 'victory']

In [1]:
def sum_numbers(n):
    lists = []
    for i in range(n+1):
        lists.append(i)
    a = sum(lists)
    return a

sum_numbers(3)

6

In [2]:
def sum_odds(n):
    total = 0
    for i in range(n):
        if i%2 != 0:
            total += i
    return total

sum_odds(7)

9

In [3]:
def sum_evens(n):
    total = 0
    for i in range(n):
        if i%2 == 0:
            total += i
    return total

sum_evens(7)

12

In [6]:
def evens_and_odds(n):
    t_even = 0
    t_odd = 0
    for i in range(n):
        if i%2 == 0:
            t_even += 1
        else:
            t_odd += 1
    return t_even, t_odd
    

evens_and_odds(7)

(4, 3)

In [13]:
def factorial(n):
    list1 = 1
    for i in range(n+1):
        if i == 0:
            continue
        list1 *= i
    return list1

factorial(4)

24

In [25]:
def is_empty(n):
    if not n:
        return True
    return False

a =[]
print(is_empty(a))

True

In [26]:
arr = [1,2,3]
for i in arr:
    arr.remove(i)
print(arr)

[2]